openapi: 3.0.1
info:
  title: Integration of BankID App with bank's BankID RA service
  description: |-
    Defines methods needed to be implemented by Registration Authority service in banks wanting to add BankID App as an OTP mechanism for their BankID Netcentric users.

    If an RA service implements these methods, than the activation of an BankID App will use them to connect the BankID App with the endUser's BankID.
  version: "1.2"
servers:
- url: https://ra-preprod.bankidnorge.no/api/enduser/bankid/netcentric/vipps/bapp
  description: Preprod Ra-lite
  variables: {}
tags:
- name: Basic RA Requirements
  description: Adds or deletes BankID App from an endUser's BankID
- name: Activation without Code Device
  description: Activation of BankID App with no other OTP merchanism
paths:
  /:
    get:
      tags:
      - Basic RA Requirements
      summary: Gets the BankID App OTP status for an endUser
      description: Checks whether an endUser has BankID App enabled as an OTP mechanism
        for at least one of his BankIDs in a given bank
      operationId: getBappOtpStatus
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      responses:
        200:
          description: If status returned is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OTPStatusResponse'
        400:
          description: In case of error
        500:
          description: In case of error
    put:
      tags:
      - Basic RA Requirements
      summary: Adds BankID App to an endUser
      description: Adds BankID App to an endUser's BankID OTP mechanisms in a given
        bank
      operationId: addBappOtp
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      responses:
        200:
          description: If status returned is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OTPAddResponse'
        400:
          description: In case of error
        500:
          description: In case of error
    delete:
      tags:
      - Basic RA Requirements
      summary: Removes BankID App from an endUser
      description: Removes BankID App as an endUser's OTP mechanism for at least one
        of his BankIDs in a given bank
      operationId: removeBappOtp
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      responses:
        200:
          description: If status returned is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OTPDeleteResponse'
        400:
          description: In case of error
        500:
          description: In case of error
  /healthcheck:
    get:
      tags:
      - Activation without Code Device
      summary: Health check of the RA application
      description: Checks that the RA is capable of handling endpoints declared here
      operationId: healthCheck
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: A unique identifier pr. request for logcorrelation
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      responses:
        200:
          description: RA is healthy
        500:
          description: RA is not healthy
  /send_activation_code:
    post:
      tags:
      - Activation without Code Device
      summary: Sends activation code(s) to an endUser
      description: Request distribution of an activation code to be sent to a endUser.
      operationId: sendActivationCode
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: digest
        in: header
        description: hash of body
        required: true
        schema:
          type: string
        example: SHA-256=X48E9qOokqqrvdts8nOJRJN3OWDUoyWxBf7kbu9DBPE=
      - name: Content-Length
        in: header
        description: Length of body
        required: true
        schema:
          type: string
        example: 18
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      requestBody:
        description: Activation code and how to distribute
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SendActivationCodeRequestBody'
        required: true
      responses:
        200:
          description: Empty body if ok, else a status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendActivationCodeErrorResponse'
        400:
          description: In case of error
        500:
          description: In case of error
  /notify_user_of_activation:
    post:
      tags:
      - Activation without Code Device
      summary: Tell endUser that BankID App is activated
      description: Request to tell the endUser that his BankID App instance is activated
      operationId: notifyUserOfActivation
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: digest
        in: header
        description: hash of body
        required: true
        schema:
          type: string
        example: SHA-256=X48E9qOokqqrvdts8nOJRJN3OWDUoyWxBf7kbu9DBPE=
      - name: Content-Length
        in: header
        description: Length of body
        required: true
        schema:
          type: string
        example: 18
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      requestBody:
        description: Activation code metadata
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NotifyUserOfActivationRequestBody'
        required: true
      responses:
        200:
          description: Empty body if ok, else a status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyUserOfActivationErrorResponse'
        400:
          description: In case of error
        500:
          description: In case of error
  /check_user_selfservice:
    get:
      tags:
      - Activation without Code Device
      summary: Check two-channel options for endUser
      description: 'Check if a specific endUser is eligible for two-channel activation. '
      operationId: checkUserSelfService
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      responses:
        200:
          description: If status returned is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckUserSelfServiceResponse'
        400:
          description: In case of error
        500:
          description: In case of error
components:
  schemas:
    OTPAddResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - ENABLED
          - NOT_ENABLED
          - ALREADY_ENABLED
          - NOT_AVAILABLE
          - BANK_ID_NOT_AVAILABLE
          - BLOCKED_BY_BANK
          - BLOCKED_IN_ODS
      description: The result of trying to enable BankID app for an endUser's BankID
    OTPStatusResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - NOT_ENABLED
          - ENABLED
          - NOT_AVAILABLE
          - BANK_ID_NOT_AVAILABLE
          - BLOCKED_BY_BANK
          - BLOCKED_IN_ODS
      description: The result of asking if BankID app is enabled for an enddUser's
        BankID
    SendActivationCodeErrorResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - unknown
          - inactive
          - rejected
          - internal_error
        error:
          type: string
      description: The result of asking an ra to send an activation code, used in
        case of some error
    SendActivationCodeRequestBody:
      type: object
      properties:
        correlation_id:
          type: string
        distribution_method:
          type: string
        locale:
          type: string
          enum:
          - en
          - no
        activation_code_type:
          type: string
          enum:
          - digits
          - words
        activation_code:
          type: string
        exp:
          type: string
      description: Request body content for asking an RA to send an activation code
        to an endUser
    OTPDeleteResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - DELETED
          - NOT_ENABLED
          - BLOCKED_IN_ODS
      description: 'The result of trying to remove BankID app from an endUser''s BankID '
    NotifyUserOfActivationErrorResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - unknown
          - internal_error
        error:
          type: string
      description: The result of asking an ra to notify a user of activation, used
        in case of some error
    ActivationMetadata:
      type: object
      properties:
        flow:
          type: string
          enum:
          - single_activation_code
          - activation_codes
          - bankid_auth
        via_distribution_methods:
          type: array
          items:
            type: string
        locale:
          type: string
          enum:
          - en
          - no
        human_readable:
          type: object
          additionalProperties:
            type: string
    NotifyUserOfActivationRequestBody:
      type: object
      properties:
        deviceName:
          type: string
        activationMetadata:
          $ref: '#/components/schemas/ActivationMetadata'
      description: Request body content for asking an RA to send an activation code
        to an endUser
    CheckUserSelfServiceResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - unknown
          - eligibible
          - not_eligibible
          - grace_period
        distribution_methods:
          type: array
          items:
            $ref: '#/components/schemas/DistributionMethod'
      description: The result of asking if an end user is eligible for two-channel
        activation
    DistributionMethod:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        hint:
          type: string
        last_verified:
          type: string
