openapi: 3.0.1
info:
  title: Integration of BankID App with bank's BankID RA service
  description: Defines methods needed to be implemented by a Registration Authority
    service in banks wanting to add BankID App as an OTP mechanism for their BankID
    Netcentric users.<p>If an RA service implements these methods, than the activation
    of an BankID App will use them to connect the BankID App with the endUser's BankID.</p>
  version: "1.2"
servers:
- url: https://ra-preprod.bankidnorge.no/api/enduser/bankid/netcentric/vipps/bapp
  description: Preprod Ra-lite
  variables: {}
tags:
- name: Basic RA Requirements
  description: Adds or deletes BankID App from an endUser's BankID
- name: Activation without Code Device
  description: Activation of BankID App without no other Code Device
paths:
  /selfservice/send_verification_code:
    post:
      tags:
      - Activation without Code Device
      summary: Request distribution of an a verification code to be sent to a user.
      description: Endpoint to request distribution of an a verification code to be
        sent to a user. Upon receiving a request on this end-point, the RA should
        distribute the provided code over sms or return an error-code.
      operationId: selfServiceSendVerificationCode
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: digest
        in: header
        description: hash of body
        required: true
        schema:
          type: string
        example: SHA-256=X48E9qOokqqrvdts8nOJRJN3OWDUoyWxBf7kbu9DBPE=
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      requestBody:
        description: Verification code and msisdn
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendVerificationCodeRequestBody'
        required: true
      responses:
        200:
          description: If all ok, no data is returned
        400:
          description: In case of error
        500:
          description: In case of error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleErrorResponse'
  /selfservice/check_user:
    post:
      tags:
      - Activation without Code Device
      summary: Check two-channel options for endUser
      description: '<p>Endpoint to check if a specific user is eligible for two-channel
        activation. A user is eligible if:</p><ul><li>They have an active BankID with
        the current RA.</li><li>They have at least two independent verified points
        of contact, not violating the following disallowed combinations.<ul><li>sms
        + phone call</li><li>digipost + post</li><li>the same method used twice, even
        with different hints.</li></ul></li><li>They have not <span style="color:
        rgb(32,31,30);">reissued the BankID (password reset)</span> in the last X
        days. (Subject to regulation by Bits).</li></ul><p>Which method types are
        supported is up to the individual RA to decide, but at least two independent
        (i.e. not terminating in the same point) types must be supported. i.e. sms
        + email is ok, phone call and sms to the same number is not. </p>'
      operationId: selfServiceCheckUser
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: digest
        in: header
        description: hash of body
        required: true
        schema:
          type: string
        example: SHA-256=X48E9qOokqqrvdts8nOJRJN3OWDUoyWxBf7kbu9DBPE=
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      requestBody:
        description: Activation code and how to distribute
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SelfServiceCheckuserRequestBody'
        required: true
      responses:
        200:
          description: If status returned is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfServiceCheckUserResponse'
        400:
          description: In case of error
        500:
          description: In case of error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleErrorResponse'
  /selfservice/send_code_words:
    post:
      tags:
      - Activation without Code Device
      summary: Send codewords to an endUser
      description: request distribution of code words to be sent to a user. Upon receiving
        a request on this end-point, the RA should distribute the provided code through
        the channel indicated, or return an error-code.
      operationId: selfServiceSendCodeWords
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: digest
        in: header
        description: hash of body
        required: true
        schema:
          type: string
        example: SHA-256=X48E9qOokqqrvdts8nOJRJN3OWDUoyWxBf7kbu9DBPE=
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      requestBody:
        description: Activation codes and how to distribute
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendCodeWordsRequestBody'
        required: true
      responses:
        200:
          description: If all ok, no data is returned
        400:
          description: In case of error
        500:
          description: In case of error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleErrorResponse'
  /notify_user_of_activation:
    post:
      tags:
      - Activation without Code Device
      summary: Tell endUser that BankID App is activated
      description: Request to tell the endUser that his BankID App instance is activated
      operationId: notifyUserOfActivation
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: digest
        in: header
        description: hash of body
        required: true
        schema:
          type: string
        example: SHA-256=X48E9qOokqqrvdts8nOJRJN3OWDUoyWxBf7kbu9DBPE=
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      requestBody:
        description: Activation code metadata
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyUserOfActivationRequestBody'
        required: true
      responses:
        200:
          description: If all ok, no data is returned
        400:
          description: In case of error
        500:
          description: In case of error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyUserOfActivationErrorResponse'
  /selfservice/password_quarantine:
    post:
      tags:
      - Activation without Code Device
      summary: Prohibit change of endUser password
      description: signal to the RA that self-service activation has reached the point
        where password change (automated or manual) MUST be prohibited until the provided
        timestamp, effective immediately.
      operationId: selfServicePasswordQuarantine
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: digest
        in: header
        description: hash of body
        required: true
        schema:
          type: string
        example: SHA-256=X48E9qOokqqrvdts8nOJRJN3OWDUoyWxBf7kbu9DBPE=
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      requestBody:
        description: How long to quarantine the password
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordQuarantineRequestBody'
        required: true
      responses:
        200:
          description: Time when password was last reset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordQuarantineResponse'
        400:
          description: In case of error
        500:
          description: In case of error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleErrorResponse'
  /:
    get:
      tags:
      - Basic RA Requirements
      summary: Gets the BankID App OTP status for an endUser
      description: Checks whether an endUser has BankID App enabled as an OTP mechanism
        for at least one of his BankIDs in a given bank
      operationId: getBappOtpStatus
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      responses:
        200:
          description: If status returned is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OTPStatusResponse'
        400:
          description: In case of error
        500:
          description: In case of error
    put:
      tags:
      - Basic RA Requirements
      summary: Adds BankID App to an endUser
      description: Adds BankID App to an endUser's BankID OTP mechanisms in a given
        bank
      operationId: addBappOtp
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      responses:
        200:
          description: If status returned is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OTPAddResponse'
        400:
          description: In case of error
        500:
          description: In case of error
    delete:
      tags:
      - Basic RA Requirements
      summary: Removes BankID App from an endUser
      description: Removes BankID App as an endUser's OTP mechanism for at least one
        of his BankIDs in a given bank
      operationId: removeBappOtp
      parameters:
      - name: Signature
        in: header
        description: The Signature element, as described in <a href="https://tools.ietf.org/html/draft-cavage-http-signatures-12">Internet-Draft
          - Signing HTTP Messages</a>.
        required: true
        schema:
          type: string
        example: keyId="fa998090",algorithm="rsa-sha256",headers="(request-target)
          date x-client-clientname x-dataownerorgid x-client-requestid x-customerid",signature="o7zK892...."
      - name: Date
        in: header
        description: 'The date element, the preferred format specified in <a href="https://tools.ietf.org/html/rfc7231#section-7.1.1.1">RFC
          7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content</a>.<p><b>Implementation
          tips:</b> Format in Java is ''EEE, dd MMM yyyy HH:mm:ss zzz'', locale english.</p>'
        required: true
        schema:
          type: string
        example: Mon, 16 Sep 2019 12:12:21 GMT
      - name: X-CLIENT-CLIENTNAME
        in: header
        description: Client calling this method, constant value
        required: true
        schema:
          type: string
        example: vipps-bapp-client
      - name: X-DATAOWNERORGID
        in: header
        description: Originator/bank-number for endUser's bankID, valid BankID ODS
          number
        required: true
        schema:
          type: string
        example: 3625
      - name: X-CUSTOMERID
        in: header
        description: EndUser's Norwegian national identification number, string of
          11 digits
        required: true
        schema:
          type: string
        example: 11111111016
      - name: X-CLIENT-REQUESTID
        in: header
        description: A unique identifier pr. request for logcorrelation
        required: true
        schema:
          type: string
        example: d0ef2e2f-2e07-45b1-b2ff-e39fb894adc8
      responses:
        200:
          description: If status returned is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OTPDeleteResponse'
        400:
          description: In case of error
        500:
          description: In case of error
  /healthcheck:
    get:
      tags:
      - Activation without Code Device
      summary: Health check of the RA application
      description: Checks that the RA is capable of handling endpoints declared here
      operationId: healthCheck
      responses:
        200:
          description: RA is healthy
        500:
          description: RA is not healthy
components:
  schemas:
    SimpleErrorResponse:
      type: object
      properties:
        error:
          type: string
      description: Result when there is only an error code in return
    Msisdn:
      type: object
      properties:
        cc_count:
          type: string
        e164_number:
          type: string
    SendVerificationCodeRequestBody:
      type: object
      properties:
        activation_id:
          type: string
          format: uuid
        msisdn:
          $ref: '#/components/schemas/Msisdn'
        locale:
          type: string
          enum:
          - en
          - no
        verification_code:
          type: string
        exp:
          type: integer
          format: int64
      description: Request body content for asking an RA to send verification code
        to enduser
    DistributionMethod:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        hint:
          type: string
        last_verified:
          type: integer
          format: int64
    SelfServiceCheckUserResponse:
      type: object
      properties:
        pw_reset_timestamp:
          type: integer
          format: int64
        correct_msisdn:
          type: boolean
        distribution_methods:
          type: array
          items:
            $ref: '#/components/schemas/DistributionMethod'
      description: The result of querying RA about endUser distribution methods
    SelfServiceCheckuserRequestBody:
      type: object
      properties:
        activation_id:
          type: string
          format: uuid
        msisdn:
          $ref: '#/components/schemas/Msisdn'
      description: Request body content for asking an RA about endUser distribution
        methods
    SendCodeWordsRequestBody:
      type: object
      properties:
        activation_id:
          type: string
          format: uuid
        distribution_method:
          type: string
        locale:
          type: string
          enum:
          - en
          - no
        code_words:
          type: string
        exp:
          type: integer
          format: int64
      description: Request body content for asking an RA to send code words to an
        endUser
    NotifyUserOfActivationErrorResponse:
      type: object
      properties:
        error:
          type: string
        status:
          type: string
          enum:
          - unknown
          - internal_error
      description: The result of asking an ra to notify a user of activation, used
        in case of some error
    ActivationMetadata:
      type: object
      properties:
        flow:
          type: string
          enum:
          - single_activation_code
          - activation_codes
          - bankid_auth
        via_distribution_methods:
          type: array
          items:
            type: string
        locale:
          type: string
          enum:
          - en
          - no
        human_readable:
          type: object
          additionalProperties:
            type: string
    NotifyUserOfActivationRequestBody:
      type: object
      properties:
        deviceName:
          type: string
        activationMetadata:
          $ref: '#/components/schemas/ActivationMetadata'
      description: Request body content for asking an RA to send an activation code
        to an endUser
    PasswordQuarantineResponse:
      type: object
      properties:
        pw_reset_timestamp:
          type: integer
          format: int64
      description: Resporse when quarantining an endUser password
    PasswordQuarantineRequestBody:
      type: object
      properties:
        activation_id:
          type: string
          format: uuid
        quarantine_until:
          type: integer
          format: int64
      description: Request body content for quarantining the user password
    OTPAddResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - ENABLED
          - NOT_ENABLED
          - ALREADY_ENABLED
          - NOT_AVAILABLE
          - BANK_ID_NOT_AVAILABLE
          - BLOCKED_BY_BANK
          - BLOCKED_IN_ODS
      description: The result of trying to enable BankID app for an endUser's BankID
    OTPStatusResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - NOT_ENABLED
          - ENABLED
          - NOT_AVAILABLE
          - BANK_ID_NOT_AVAILABLE
          - BLOCKED_BY_BANK
          - BLOCKED_IN_ODS
      description: The result of asking if BankID app is enabled for an enddUser's
        BankID
    OTPDeleteResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - DELETED
          - NOT_ENABLED
          - BLOCKED_IN_ODS
      description: 'The result of trying to remove BankID app from an endUser''s BankID '
